#zooBackground {
	 background-image: url(http://workplacecoachblog.com/files/Webpage%20Photos/jungle-wallpaper1.jpg);
	 height: 560px;
}
* {
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.container2 {
	position: relative;
	top: 100px;
}
.animal {
	position: absolute;
	z-index: 500;
	height: 100px;
	width: 100px;
}
.tableAnimal {
	height:100px;
	width: 100px;
}
#animal0 {
	top:200px;
	left:120px;
}
#animal1 {
	top:300px;
	right:300px;
}
#animalx {
	top:240px;
	left:500px;
}
#animal2 {
	top:110px;
	left:410px;
}
#animal3 {
	top:400px;
	left:300px;
}
#animal4 {
	top:160px;
	left:600px;
}
#needsPadding {
	margin-bottom: 15px;
}
.nav a {
	color:black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18pt;
}
.nav {
	background-color: #49611a;
	height:4em;
	position: fixed;
	z-index: 9999;
	top:0px;
	left:0px;
	right: 0px;
	width:100%;
	text-align: center;
}
.nav li {
	display:inline;
	padding: 15px;
	position: relative;
	top: 10px;
}
#name {
	font-size: 24pt;
	padding-right: 280px;
	color: black;
}
.bold {
	font-size: 16pt;
}
table {
	border-spacing: 10px;
	text-align: center;
}
caption,
th {
	text-align: center;
}
#submit {
	position: relative;
	right: 10px;
}
label {
	padding-top: 10px;
}
#footer {
	height: 100px;
}
#description {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #CCC;
	height: 34px;
}
#descrip {
	position: relative;
	left: 95px;
	padding-bottom: 10px;
}
#submitbtn {
	margin-top: 20px;
	border-color: #91984f;
}
.btn-default:hover {
	background-color: #CAD283;
}
#hiddenURL {
	width: 40%;
	position: relative;
	left: 340px;
	margin-top: 10px;
	height: 30px;
}
#hiddenURLdiv {
	display: none;
}
/*.form-control:focus {
	box-shadow: #91984f;
	border-color: #91984f;
}*/
.form-control:focus,
#description:focus {
  border-color: #A1C36C;
  box-shadow: 0 1px 1px #A1C36C inset, 0 0 8px #A1C36C;
  outline: 0 none;
}
#otherTypeRadio {
	position: relative;
	left: -32px;
}
#otherRadio {
	background-color: transparent;
	border: none;
}
.input-group .form-control:last-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
